=title "ALBUMFS - handpicked directory of free music", include_base_title = false

#previous_search
  -# NOTE: We don't use form_tag because in rails 3, we get the 'snowman' utf
  -# parameter inserted (see http://goo.gl/vhGvR). Thus, we manually define
  -# the form element.
  -#=form_tag('/search', :class => 'search', :method => :get) do
  %form{:action => search_path, :method => 'get', :class => 'search', :'accept-charset' => 'UTF-8'}
    -#=label_tag 'search', 'Search'
    -# NOTE: We purposely don't autofocus on the field so that user can read
    -# the placeholder.
    =text_field_tag 'q', value = params[:q], :placeholder => 'Search for an Artist, Album, or Song...'
    -# We set the submit name (default was 'commit') to nil so that it does not
    -# get passed along with the search GET params.
    =submit_tag 'Search', :name => nil

  !=page_entries_info @results, :entry_name => 'result'

#search_results
  =will_paginate @results

  %ul.results
    -@results.each do |album|
      -# Each result resides in its own li, with the ability for a sub div in each.
      %li
        %img.albumart{:src => (not album.album_art.medium.blank?) ? album.album_art.medium : image_path('album-placeholder-64px.png'), 
                      :alt => 'album art'}
        %h3.artist_name= album.artist.name
        %h2.album_title= album.title
        %p.tracks= album.tracks.each_with_index.map {|t, i| '%i. %s' % [i+1, t.title]}.join(', ').truncate(100)

  =will_paginate @results
