// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

@import compass

//Plugins:
@import fancy-buttons

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form
  // You'll probably want to remove the scaffolding once you start styling your site.
  +blueprint-scaffolding

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  #container
    +container
  #header, #footer
    +column($blueprint-grid-columns)
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3)
    +column($sidebar-columns)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3)
    // true means it's the last column in the row
    +column($content-columns, true)

// Disabling browser form popup (hints) as explained on http://goo.gl/BGi2o
div
  display: none
body
  div
    display: block

body
  #container
    +container
    //margin-top: 1em
    //+showgrid
    //margin: 1em

  .logo
    font-family: $formal-font-family
    .fs
      color: $logo-red
    a
      text-decoration: none
      color: $font-color
      &:visited
        color: $font-color
      &:hover
        color: $font-color
  h1.logo
    margin-bottom: 0.2em

  h1, h2, h3, h4, h5, h6
    font-family: $formal-font-family

  #error_explanation
    +error
    h2
      font-size: 1.4em
    ul
      margin: 0

  #header
    +column($blueprint-grid-columns)
    //background-color: #eee
    border-bottom: 2px solid #ddd
    padding: 0.5em 0 0 0
    margin-bottom: 1em
    //display: none
    .logo
      //+showgrid
      $logo-columns: floor($blueprint-grid-columns / 4)
      +column($logo-columns)
      margin-bottom: 0

      +box-sizing(border-box)
      //Decrease padding just a bit because the A slant looks like more padding is
      //being applied.
      padding-left: $side-padding - 0.1em
    .navigation
      //+showgrid
      $navigation-columns: ceil(3 * $blueprint-grid-columns / 4)
      +column($navigation-columns, true)
      font-size: 1.5em
      margin-top: 0.65em

      +box-sizing(border-box)
      padding-right: $side-padding
      ul
        +horizontal-list
        float: right
        li
          margin-left: 1em
          a
            color: $font-color
            text-decoration: none
            &:visited
              color: $font-color
            &:hover
              color: $logo-red


  #content
    +column($blueprint-grid-columns)

body#home_pages
  //Since we display the ALBUMFS logo in the search area, we hide the logo in the 
  //header. Since the position of the header uses blueprint columns, hiding the
  //logo messes up the width of the column. Thus, we manually push the navigation
  //to the right using a float.
  #header
    border-bottom: none
    h1.logo
      display: none
    .navigation
      float: right
      a
        color: #999
  #placeholder
    //+showgrid
    +column($blueprint-grid-columns / 2, true)
    //Push the column 5.5 columns to the right to center it on the page.
    +push(5.5)
  
    border: 12px solid #ddd
    border-left: 36px solid #ddd
    //+border-radius(8px)
    //padding: 130px 0 
  
    .wrap
      $placeholder-wrap-width: ($blueprint-grid-width + $blueprint-grid-margin) * ($blueprint-grid-columns / 2) - $blueprint-grid-margin
      width: $placeholder-wrap-width
      //These are porportional dimensions of a real cd case
      height:  $placeholder-wrap-width * 5.5/5.75 
      display: table-cell
      vertical-align: middle
      text-align: center
  
      .logo
        font-size: 5em
      p
        font-size: 2em
        margin-bottom: 0

    form.search
      margin-top: 2em
      input#q
        width: 70%
        font-size: 1.4em
        padding: 0.4em 0.5em
        border: 1px solid #ccc
        margin-right: 0.3em
        //Remove focus glow for webkit based browsers
        outline: none
      input[type=submit]
        +fancy-button(#eee)


body#index_search
  #previous_search
    form.search
      //margin-top: 2em
      input#q
        width: 60%
        font-size: 1.4em
        padding: 0.4em 0.5em
        border: 1px solid #ccc
        margin-right: 0.3em
        //Remove focus glow for webkit based browsers
        outline: none
      input[type=submit]
        +fancy-button(#eee)
  #search_results
    margin-top: 1em
    ul.results
      padding: 0
      margin: 0
      margin-bottom: 0.5em
      +no-bullets
      //We need clearfix hack so that any margin definitions outside of the results
      //div will work correctly.
      +clearfix
      li
        clear: left
        //padding-top: 1em
        margin-bottom: 1em
        +clearfix
        img.albumart
          float: left
          border: 1px solid #eee
          padding: 3px
          margin-right: 1em
        .artist_name
          margin-top: 0.35em
          margin-bottom: 0.35em
          font-family: $blueprint-font-family
          font-size: 1.2em
          color: #555
        .album_title
          margin-bottom: 0.2em
          font-size: 1.4em
        .tracks
          margin-bottom: 0
          color: #999
    .pagination
      clear: both
      margin-bottom: 1em
      font-size: 1.2em
      a, span
        padding: 4px 7px 4px 7px
        margin: 0 3px 0 3px
        border: 1px solid #ddd
        text-decoration: none
        color: $font-color
      a:hover, a:active
        border: 1px solid #ccc
        color: #000
      .current
        border: 1px solid $logo-red
        font-weight: bold
        background-color: $logo-red
        color: #fff
      .disabled
        border: 1px solid #eee
        color: #ddd

    .no_results
      h3
        font-size: 1.6em
      p.explanation
        font-size: 1.3em
        width: 40%
        float: left
        margin-right: 2em
      .actions
        //Want to align the buttons with the left text better.
        margin-top: 1.9em
        a
          +fancy-button(#eee)
          width: 200px
          text-align: center
          margin-bottom: 0.5em

          
        
    
      

//body.sessions
//  #content > h2
//    font-family: $formal-font-family

//Base styles for information in box
body#new_sessions, body.registrations, body.passwords
  #content
    //This part of styling is the same as the placeholder
    +column($blueprint-grid-columns / 2, true)
    //Push the column 5.5 columns to the right to center it on the page.
    +push(5.5)
    border: 12px solid #ddd
    border-left: 36px solid #ddd

    .wrap
      $placeholder-wrap-width: ($blueprint-grid-width + $blueprint-grid-margin) * ($blueprint-grid-columns / 2) - $blueprint-grid-margin
      width: $placeholder-wrap-width
      //These are porportional dimensions of a real cd case
      height:  $placeholder-wrap-width * 5.5/5.75 
      min-height:  $placeholder-wrap-width * 5.5/5.75 
      display: table-cell
      vertical-align: middle
      //text-align: center

      +box-sizing(border-box)
      padding: 0em 3em

    h2
      margin-bottom: 0.3em

    form
      +blueprint-form
      input[type=submit]
        +fancy-button(#eee)
        float: right
      input[type=email], input[type=password]
        //We can't use 100% because padding in the input box pushes width out further
        width: 97%
        font-size: 2em
        margin: 0
        margin-bottom: 0.3em
      p
        margin-bottom: 0.3em

body#new_sessions
  #content
    form
      margin-bottom: 1em
      p
        margin-bottom: 0.3em

body.registrations
  #content
    form
      input[type=submit]
        //Create spacing between button and dashed border of h3
        margin-bottom: 1em
      i
        margin-bottom: 0
        font-size: 0.8em

    h3
      clear: right
      //Fake a separator between the form and this new section
      border-top: 1px dashed #ccc
      padding-top: 1em

body#edit_registrations, body#update_registrations
  #content
    .wrap
      padding-top: 2.8em
      padding-bottom: 2.8em
    
body#new_passwords, body#create_passwords
  #content
    form
      margin-bottom: 1.3em
      input[type=submit]
        float: none



